LLM_BINDING=openai
LLM_MODEL=openai/gpt-4o-mini
LLM_BINDING_HOST=https://openrouter.ai/api/v1

LLM_BINDING_API_KEY=
### Optional for Azure
# AZURE_OPENAI_API_VERSION=2024-08-01-preview
# AZURE_OPENAI_DEPLOYMENT=gpt-4o

### Embedding Configuration
### Embedding Binding type: openai, ollama, lollms, azure_openai
EMBEDDING_BINDING=openai
EMBEDDING_MODEL=openai/text-embedding-3-large
EMBEDDING_DIM=3072

EMBEDDING_BINDING_API_KEY=
# If the embedding service is deployed within the same Docker stack, use host.docker.internal instead of localhost
EMBEDDING_BINDING_HOST=https://openrouter.ai/api/v1

ENABLE_RERANK=True
RERANK_BINDING=jina
RERANK_MODEL=BAAI/bge-reranker-v2-m3
RERANK_BINDING_HOST=
RERANK_BINDING_API_KEY=

### Number of entities or relations retrieved from KG
TOP_K=50
### Maximum number or chunks for naive vector search
CHUNK_TOP_K=10
### control the actual entities send to LLM
MAX_ENTITY_TOKENS=12000
### control the actual relations send to LLM
MAX_RELATION_TOKENS=8000
### control the maximum tokens send to LLM (include entities, relations and chunks)
MAX_TOTAL_TOKENS=32000

### Context Extraction Configuration
# CONTEXT_WINDOW=0
# CONTEXT_MODE=page
# MAX_CONTEXT_TOKENS=2000
# INCLUDE_HEADERS=true
# INCLUDE_CAPTIONS=true
# CONTEXT_FILTER_CONTENT_TYPES=text
# CONTENT_FORMAT=minerU
